@charset "utf-8";

@font-face {
    font-family: "DM Sans";
    src: url("~@/assets/Fonts/DMSans-Regular.ttf") format("opentype");
}

@font-face {
    font-family: "Open Sans";
    src: url("~@/assets/Fonts/OpenSans-Regular.ttf") format("opentype");
}

@font-face {
    font-family: "Work Sans";
    src: url("~@/assets/Fonts/WorkSans-Regular.ttf") format("opentype");
}

@font-face {
    font-family: "Work Sans Bold";
    src: url("~@/assets/Fonts/WorkSans-Medium.ttf") format("opentype");
}

@font-face {
    font-family: "Inter SemiBold";
    src: url("~@/assets/Fonts/Inter-SemiBold.ttf") format("opentype");
}

@font-face {
    font-family: "Inter";
    src: url("~@/assets/Fonts/Inter-Regular.ttf") format("opentype");
}